:root{
    --primary-color:#474D59;
    --second-color:#121721;
    --third-color:#838FA6;
    --text-color: #ffff;
    --fourt-color: #3a3aee;
}
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    /*border box*/
}
.changecolor{
	position: fixed;
	bottom: 30px;
	left: 20px;
	display: flex;
	flex-direction: column;
	height: 50px;
	width: 50px;
	z-index: 100;
}

.changecolor i.bi.bi-moon-stars-fill{
	font-size: 50px;
	color: rgb(154, 154, 154);
	display: block;
}

.changecolor i.bi.bi-lightbulb-fill {
	font-size: 50px;
	color: rgb(197, 200, 14);
	display: none;
}
#header {
    padding: 2rem;
    width: 100vw;
    height: 50%;
    background-color: var(--second-color);  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
#portafolio{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
nav{
    width: 50%;
}
nav ul{
    width: 100%;
   display: flex;
   justify-content:center;
   align-items: center;
}
ul > li{
    margin-left: 0.5rem;
   list-style: none;
}
a{
    text-decoration: none !important;
    color: var(--text-color) !important;
    font-weight: bolder !important;
}
#body {
   background-color: var(--primary-color);
    width: 100%;
   height: 100%;
} 
.tituloPrincipal{
    display: flex;
    padding: 2rem;
    font-size: 30px;
    justify-content: center;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    text-align: center;
    text-transform: uppercase;
    color: #bed4f6;
}
.yoPresentacion{
    width: 40%;
    height: 50%;
    border-radius: 50%;
    padding: 5rem !important;
}
.servicios{
    margin: 2rem 8rem;
    padding:1.5rem;
    text-align: justify;
    border: 2px solid var(--fourt-color);
    border-radius: 80px;
    box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.serviciosCarousel{
    margin: 2rem 8rem;
    padding:1.5rem;
    text-align: justify;
    border: 2px solid var(--fourt-color);
    border-radius: 80px;
    box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.1);
    color: var(--text-color);

}
.tituloServicios{
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 1rem;
    color: var(--text-color);
}
.textoServicios{
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: lighter;
    width: 90%;
    color: var(--text-color);
}

.imagenServicios{
    width: 45%;
    height: 60%;
    border-radius: 20%;
    padding: 1rem;
}
.servicios > h3{
    text-transform: uppercase;
    font-weight: 900 !important;
}
.tituloContacto{
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem;
}
.btnServicios{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.btnServicios1{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
#btnCorreo{
    border: none;
    border-radius: 50px;
	box-shadow: 0px 0px 15px -1px rgba(255, 255, 255, 0.46);
	transition: all .6s;
}
#btnRedes{
    border: none;
    border-radius: 50px;
	box-shadow: 0px 0px 15px -1px rgba(255, 255, 255, 0.46);
	transition: all .6s;
}
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    color: white;
  }
  .login-box .user-box {
    position: relative;
  }
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }  
  .login-box .user-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  .login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}
.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  .login-box a:hover {
    background: #03f40f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f,
                0 0 25px #03f40f,
                0 0 50px #03f40f,
                0 0 100px #03f40f;
  }
  .login-box a span {
    position: absolute;
    display: block;
  }
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  .login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
  }
  .offcanvas{
    background-color: #161616 !important;
  }
  .card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: row !important;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .offcanvas-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footer{
    background-color: var(--third-color);
    color: white;
    padding-bottom: 2rem;
  }
  h6{
    text-transform: uppercase;
    font-weight: bolder;
  }
  .menuFooter{
    width: 50%;
    padding: 2rem  4rem;
  }
  table{
    background-color: var(--third-color);
    margin: 0;
  }
  .datosFooter{
    display: flex;
  }